<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/headers") %>
    <!--ariel ws-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/socket.listener.js"></script>
    <!--ariel ws -->
</head>

<body class="" onload="setWs();">

  <div class="wrapper ">
<!--      <div class="main-panel">-->
           <div style="text-align: center;" id="blabla">Dashboard</div>
          <div class="content">
            <div class="container-fluid">
              <!-- <div class="row">
              </div> -->
              <div class="row">
                <!--start-->
                <% cards.forEach(function(card) { %>
                  <%- include("../partials/card",card) %>
                    <% }); %>
                      <!--end-->
              </div>
                <% cards.forEach(function(card) { %>
                    <%- include("../partials/graphs",card) %>
<!--                    <%-console.log(card) %>-->
                <% }); %>
                <div class="row">
                <div class="table-responsive card">
                    <div style="margin: 1vh; ">
                        <table  class="table table-striped" id="pkgTable" >
                            <thead class="thead-light">
                            <tr>
                                <th class="th-sm">pkg_id</th>
                                <th class="th-sm">size</th>
                                <th class="th-sm">items</th>
                                <th class="th-sm">district</th>
                                <th class="th-sm">address</th>
                                <th class="th-sm">tax</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% all.forEach(function(data) { %>
                                <%- include("../partials/datarow",data) %>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>

                </div>
                </div>
            </div>

          </div>
  </div>
  <div>

  </div>
  <%- include("../partials/dashcode") %>
</body>
<script>
    $(document).ready(function () {
    $('#pkgTable').DataTable({
        "scrollY": "50vh",
        "scrollCollapse": false,
        "paging": false,
        // "searching":false,
        "sClass": "class-name", "aTargets": [ 4 ]
    });
    $
    $('.dataTables_length').addClass('bs-select');
    });
    // $(document).ready(function () {
    //     $('#pkgTable').DataTable();
    //     $('.dataTables_length').addClass('bs-select');
    // });
</script>

</html>