<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/headers") %>

</head>

<body class="" onload="setWs();">

  <div class="wrapper ">
           <nav class="navbar navbar-expand-lg bg-primary" style="justify-content: center; " id="blabla">
                    <a href="#" style="font-weight: bold; color: white">
                        <h1>Dashboard</h1>
                    </a>
           </nav>


          <div class="content">
            <div class="container-fluid">
                <div class="row" id="total-data">
                  <% Object.values(cards).forEach(function(card) { %>
                        <%- include("../partials/card",card) %>
                    <% }); %>
                </div>
                <% Object.values(cards).forEach(function(card) { %>
                    <%- include("../partials/graphs",card) %>
                <% }); %>
                <div class="row" id="data-tables">

                    <div class=" card">
                        <div class="card-header card-header-tabs card-header-primary">
                            <%- include("../partials/navbar",{cards:cards}) %>
                        </div>

                        <div class="card-body ">
                            <div class="tab-content">
                        <% let flag = true
                        Object.values(cards).forEach(function(card) { %>
                            <%- include("../partials/table",{card:card,flag:flag}) %>
                        <%
                            if(flag) flag=false
                            });
                        %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          </div>
  </div>
  <div>

  </div>
  <%- include("../partials/dashcode") %>
</body>

</html>