<div class="col pkg-total" district="<%= districtId%>" onclick="window.dispatchEvent(new Event('resize'));">
    <div class="card card-stats btn btn-primary" data-toggle="collapse" data-target="#<%= districtId%>">
       <div class="card-header card-header-warning card-header-icon"></div>
       <div class=" text-center">
         <h2 class="card-title"><%= title %></h2>
         <h3 class="card-description" >
           <span class="value"><%= value %></span>
           <small><%= unit %></small>
         </h3>
       </div>
    </div>
</div>