<div class="col pkg-total" >
    <div class="card card-stats btn btn-primary" district="<%= districtId%>" onclick="hideGraphs('<%= districtId%>')" data-toggle="collapse" data-target="#<%= districtId%>">
       <div class="card-header card-header-warning card-header-icon">
           <div class="card-icon">
               <img class="card-img-top" src="images/<%= districtId%>.png">
           </div>
       </div>
        <div class="card-body">
            <p class="card-category"><%= title %></p>
            <div class="text-center">
                <div class="card-description" >
                    <div class="counter-box">
                        <h4 class="" >Total Packages</h4>
                        <h3>
                            <i class="bi bi-box-seam"></i>
                            <span class="value counter"><%= value %></span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
